*{
    margin: 0;
    padding: 0;
}

.main{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("https://wallpapercave.com/wp/wp4426584.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color: #ff7200;
    font-family: "Roboto";
    font-size: 40px;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 5px;
}
.menu{
    width: 400px;
    height: 70px;
    float: left;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
ul li{
    margin-top: 30px;
    margin-left: 60px;
    list-style: none;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "Arial";
    font-weight: bold;
    transition: 0.4s ease;
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    margin-left: 270px;
    float: left;
}
.srch{
    font-family: 'Times New Roman';
    font-size: 18px;
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-top: 14px;
    background: transparent;
    border: 1px solid #ff7200;
    border-right: none;
    color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
}
.btn{
    font-family: 'Arial';
    font-size: 16px;
    width: 100px;
    height: 40px;
    margin-top: 14px;
    background-color: #ff7200;
    border: 1px solid #ff7200;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    outline: none;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 10px;
    margin-top: 9%;
}
.content .para{
    font-family: "Arial";
    padding-left: 20px;
    padding-bottom: 25px;
    line-height: 30px;
}
.content .cn{
    width: 120px;
    height: 40px;
    background-color: #ff7200;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.content .cn a{
    color: #000;
    text-decoration: none;
}
.cn:hover{
    background-color: #fff;
}
aside{
    width: 50%;
    float: right;
    margin-top: 0;
    padding-top: 0;
}
.dev-img{
    text-align: right;
}